a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4rem;
  margin: 100px auto;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

p{
  line-height: 2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* ID */

/* #title {
  text-align: center;
  font-family: 'Stalemate', cursive;
  font-size: 6.25rem;
  background: linear-gradient(to top, #393e46, #b55400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* element */
/* 16px==1em==100% */


/* CLASS */


.aws-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  padding: 50px 0 20px;
  background-color: #66BFBF
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.devops {
  text-decoration: underline;
}

.devops-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro{
  width: 40%;
  margin: auto;
}

.linux-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-container {
  background-color: aliceblue;
  position: relative;
  padding: 200px ;
}


/* .linux-description{
  clear: left;
}

.aws-description{
  clear: right;
}

.devops-description{
  clear: left;
} */


/* ####################### id ##################### */